*{    
    position: relative;
    margin-top: 50px;
    background-color: azure;
}

#compter{
   margin-right: 200px;
   margin-left: 200px;
   text-align: center;
}

#texte {
    width: 100%;
    height: 280px;
    background-color: rgba(254, 254, 254, 0.9) ;
    border-radius: 5px;
}    

#valide{
    background-color:rgb(198, 135, 135);
    color: white;
    border: solid rgb(196, 106, 106) 2px;
    border-radius: 7px;
    height: 25px;
    width: 100%;
    position: relative;
}
#valide:hover {
    background-color: rgb(198, 135, 135);
}

#result{
    color: rgb(196, 106, 106);
    font-size: 48px;
    text-align: center;
}